
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;


}

body {
    min-height: 100vh;
    
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
   content: '';
   position: absolute;
   top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
}

.navbar a:hover::before {
    width: 100%;
}

.Text {
    text-align: center;
    justify-content: center;
    padding-top: 20vh;
}



.Text h1, h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
    
span {
    color: red;

}

.container {
    width: 100%;
    background-color: #dddddd00;
  }
  
  .skills {
      border-radius: 25px;
      color: white;
      text-align: right;
      padding-top: 1px;
      padding-bottom: 1px;
      width: 20px;
      height: 20px;
  }
  
  .a {width: 90%; background-color: #5434f3;}
  .b {width: 90%; background-color: #2ebd06;}
  .c {width: 70%; background-color: #1cef86;}
  .d {width: 70%; background-color: #e7e720;}
  .e {width: 60%; background-color: #fa6e16;}
  .f {width: 60%; background-color: #f51010;}

  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    z-index: 1; */
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

footer a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

@media screen and (max-width: 800px) {

    body, img {
        width: 100%;
        height: auto;
    }
    .Text {
        padding: 0 22px;
        margin: 0 22px;
        display: flex;

    }
}
